@use "../../utils/_main" as utils

p
    margin-bottom: 0

main
    background-color: utils.$brown
    overflow: hidden

h1
    @include utils.title(2rem)
    align-self: center

.section-encounter
    background-color: utils.$yellow
    margin: 1rem auto
    border-radius: 10px
    padding-top: 1rem
    padding-bottom: 2rem
    iframe
        width: 100%
        display: block

    &_title
        border: 2.5px solid utils.$brown
        margin: 1rem
        background-color: white
        border-radius: 10px
        img
            margin: 1rem

    &__information
        @media screen and (min-width: 768px)
            display: flex

    &__presentation
        margin: 3rem
        padding: 2rem
        @include utils.box()
        display: flex
        flex-direction: column
        @media screen and (min-width: 992px)
            flex-direction: row
        
        h3
            @include utils.paragraphe(1.5rem)
            border: 2px solid utils.$brown
            padding: 1rem
            border-radius: 10px
  
        div
            p
                @include utils.paragraphe(1rem)
                padding: 1rem

        img
            object-fit: cover
            margin: 0 auto

    &__inscription
        background-color: white
        border: 2.5px solid utils.$brown
        button
            margin-top: 0.5rem

    &__messages
        @include utils.box()

.title-col
    @include utils.title(1.4rem)
    font-weight: 300