@use "../utils/_fonts" as font
@use "../utils/_colors" as colors

%title-1
    font-family: font.$font-title
    color: white
    font-size: 7rem

%title-2
    font-family: font.$font-title
    color: white
    font-size: 3rem
    text-transform: uppercase

%title-3
    font-family: font.$font-title
    color: colors.$brown
    font-size: 2rem
    text-transform: uppercase

%title-4
    font-family: font.$font-title
    color: colors.$yellow
    font-size: 2rem

%paragraphe-m
    font-family: font.$font-main
    color: colors.$brown
    font-weight: 300

%paragraphe-l
    font-family: font.$font-main
    color: colors.$brown
    font-weight: 300
    font-size: 1.5rem


