@use "../utils/_main.sass" as utils

.section-report
    background-color: utils.$blue
    padding: 0

    &__flux
        background-color: white

    &__grid   
        display: grid
        grid-template-columns: 1fr
        gap: 2rem
        padding: 2rem
        div       
            img
                border: 3px solid utils.$brown
                &:hover
                    animation: changeOpacity 1s ease 1s infinite alternate
                      

    &__title
        @extend %title-2
        color: utils.$brown
        text-align: center
        width: 70%
        margin: 1rem auto

@keyframes changeOpacity
    0%
        opacity: 100%    
    100%
        opacity: 0%
        

@media screen and ( min-width:576px)
    .section-report
        &__grid
            grid-template-columns: 1fr 1fr

@media screen and ( min-width:1200px)
    .section-report
        &__grid
            grid-template-columns: 1fr 1fr 1fr 1fr
    